{% extends "layouts::main.twig" %}
{% from "@includes/macro.twig" import svg, aboutItem, aboutNumbersItem %}

{% block content %}
  <section class="sec sec-about-company">
    <div class="container">
      <div class="sec__title">
        <h3>О клинике</h3>
      </div>
      <div class="sec-about-company__wrap">
        <div class="sec-about-company__info">
          <h3>о компании</h3>
          <p>Вот уже более 18 лет в клинике «МОЯ НАУКА» лучшие врачи Самары, Москвы и Санкт-Петербурга оказывают высококвалифицированную медицинскую помощь по 38 направлениям. На базе клиники работают и отдельные центры, которые сочетают в себе две важные составляющие эффективного лечения - врачей экспертного уровня и современное оборудование. Это центры ревматологии, урологии, эндокринологии, пластической хирургии, а также центр лечения боли.</p>
        </div>
        <div class="sec-about-company__img"></div>
      </div>

    </div>
  </section>
  <section class="sec sec-about-numbers">
    <div class="container">
      <div class="about-numbers__list">
        {{ aboutNumbersItem('36 тыс', 'вылеченных<br />пациентов в год', '>') }}
        {{ aboutNumbersItem('18', 'лет<br />работы') }}
        {{ aboutNumbersItem('2000', 'наименований<br />исследований', '>') }}
        {{ aboutNumbersItem('6', 'операционных') }}
      </div>
    </div>
  </section>

  {{ aboutItem('about1.jpg', 'современная урология', 'Кроме того, клиника «МОЯ НАУКА» - единственная клиника в Поволжье, где реализован замкнутый цикл по лечению мочекаменной болезни: дистанционная литотрипсия, лазерная контактная уретеролитотрипсия, ретроградная интраренальная хирургия, ПНЛТ (малоинвазивная операция, направленная на разрушение конкремента под воздействием лазера). Врачи-урологи клиники «МОЯ НАУКА» лечат аденому предстательной железы с помощью лазерной энуклеации, что является золотым стандартом хирургического лечения аденомы простаты больших размеров.') }}
  {{ aboutItem('about2.jpg', 'Операции', 'В клинике «МОЯ НАУКА» проводится широкий спектр высокотехнологичных операций различного уровня сложности. Например, наш врач-травматолог-ортопед Новичков С.М. одномоментно выполняет эндопротезирование двух суставов, в том числе, коленных. В отделении гинекологии проводят уникальные органосохраняющие операции, включая операции при миомах гигантских размеров. Профессионалы клиники в области эндокринологии диагностируют рак щитовидной железы на ранних стадиях и оперируют её с использованием нейромонитора, снижая риск послеоперационных осложнений. Уникальные методики хирургов-эндокринологов позволяют проводить операции, не оставляя эстетических дефектов.') }}

  <section class="sec sec-about-numbers sec-about-numbers-1">
    <div class="container">
      <div class="about-numbers__list">
        {{ aboutNumbersItem('38', 'медицинских<br />направлений') }}
        {{ aboutNumbersItem('1500', 'операций<br />в год', '>') }}
        {{ aboutNumbersItem('120', 'высококвалифицированных<br />врачей', '>') }}
        {{ aboutNumbersItem('76 млн', 'анализов<br />в год', '>') }}
      </div>
    </div>
  </section>


  {{ aboutItem('about3.jpg', 'стационар', 'Для эффективной реабилитации пациентов после операций и предоставления им медицинской помощи в клинике действует стационар с возможностью единовременного размещения до 50 человек. Заботливый медперсонал и уютная палата со всеми удобствами создают приятную обстановку, напоминающую комфортный отдых в санатории.') }}
  {{ aboutItem('about4.jpg', 'лаборатория', '«МОЯ НАУКА» - одна из ведущих лабораторий федерального значения, в которой проводятся исследования с более 2000 наименований. Также в большинстве офисов можно пройти ряд других диагностических исследований, включая УЗИ.') }}

{% endblock %}
