{% extends "layouts::main.twig" %}
{% from "@includes/macro.twig" import mapsTileItem %}

{% block content %}
  <section class="sec sec-maps">
    <div class="container">
      <div class="sec__title">
        <h3>Самара</h3>
      </div>
      <div class="sec-maps__tiles">
        {{ mapsTileItem(
          'Самара,<br />ул. Ново-Садовая, 106, кор. 82',
          [
            'Анализы',
            'Прием врачей',
            'ЭКГ'
          ]
        ) }}
        {{ mapsTileItem(
          'Самара,<br />ул. Ново-Садовая, 106, кор. 82',
          [
            'Прием врачей',
            'Круглосуточный стационар'
          ]
        ) }}
        {{ mapsTileItem(
          'Самара,<br />ул. Ново-Садовая, 106, кор. 82',
          [
            'Анализы',
            'Прием врачей',
            'ЭКГ'
          ]
        ) }}
        {{ mapsTileItem(
          'Самара,<br />ул. Ново-Садовая, 106, кор. 82',
          [
            'Прием врачей',
            'Круглосуточный стационар'
          ]
        ) }}
        {{ mapsTileItem(
          'Самара,<br />ул. Ново-Садовая, 106, кор. 82',
          [
            'Анализы',
            'Прием врачей',
            'ЭКГ'
          ]
        ) }}
        {{ mapsTileItem(
          'Самара,<br />ул. Ново-Садовая, 106, кор. 82',
          [
            'Прием врачей',
            'Круглосуточный стационар'
          ]
        ) }}
        {{ mapsTileItem(
          'Самара,<br />ул. Ново-Садовая, 106, кор. 82',
          [
            'Анализы',
            'Прием врачей',
            'ЭКГ'
          ]
        ) }}
        {{ mapsTileItem(
          'Самара,<br />ул. Ново-Садовая, 106, кор. 82',
          [
            'Прием врачей',
            'Круглосуточный стационар'
          ]
        ) }}
      </div>
    </div>

  </section>
{% endblock %}
