{% extends "layouts::main.twig" %}
{% from "@includes/macro.twig" import patientsArticleList %}

{% block content %}
<section class="sec sec-patients">
  <div class="container">
    <div class="sec__title">
      <h3>Пациентам</h3>
    </div>
    <div class="sec-patient__services">
      {{ patientServicesItem('анализы', 'analize') }}
      {{ patientServicesItem('акции', 'promo') }}
      {{ patientServicesItem('медсправки', 'doc') }}
      {{ patientServicesItem('адреса\nотделений', 'address') }}
      {{ patientServicesItem('вызов\nна дом', 'call') }}
      {{ patientServicesItem('все\nуслуги', 'all') }}
      {{ patientServicesRate() }}
    </div>
    <div class="sec-patients__articles">
      <h3>Статьи и рекомендации</h3>
      <div class="sec-patients__articles-list">
        {{ patientsArticleList(
          'ЛАБОРАТОРНЫЕ ИССЛЕДОВАНИЯ',
          [
            'Что такое липидограмма?',
            'Тест, дай мне ответ : есть у меня ковид или нет?'
          ]
        ) }}
        {{ patientsArticleList(
          'ХИРУРГИЯ',
          [
            'Доброкачественные мягкотканевые образования: липомы, атеромы, папилломы',
            'Хирургический и косметический шов: в чём отличия?'
          ]
        ) }}
        {{ patientsArticleList(
          'ПЕДИАТРИЯ',
          [
            'Сезонные рекомендации педиатра',
            'Закаливание в детском возрасте'
          ]
        ) }}

        {{ patientsArticleList(
          'ИНФЕКЦИОНИСТ',
          [
            'Печень. Желчный пузырь. Желчевыводящие пути. Помощь гепатолога.',
            'Ротавирусные инфекции',
            'Пневмония: ранняя диагностика',
            'Инфекции ЖКТ'
          ]
        ) }}
        {{ patientsArticleList(
          'УРОЛОГИЯ',
          [
            'Сеанс транс-уретральной радиоволновой терапии аппаратом Tempro',
            'Возрастной андрогенный дефицит у мужчин и методы его коррекции',
            'Урофлоуметрия',
            'Мужской климакс или андропауза',
            'Аденома простаты',
            'Простатит',
            'Хронический простатит',
            'Рак предстательной железы',
            '«Мужское здоровье»',
            'Эректильная дисфункция',
            'Бесплодие у мужчин',
            'Дробление камней в почках',
            'Диета при мочекаменной болезни',
            'Мочекаменная болезнь',
            'Недержание мочи у женщин',
            'Недержание мочи у мужчин: причины и лечение.',
            'Бесплодие у мужчин и женщин. Современные методики лечения.',
            'Проблема эректильной дисфункции.',
            'Аденома предстательной железы',
            'Цистит: диагностика и лечение'
          ]
        ) }}
        {{ patientsArticleList(
          'ГАСТРОЭНТЕРОЛОГИЯ',
          [
            'Helicobacter pylori (Хеликобактер пилори) — так ли он опасен?',
            'ФГДС (фиброгастродуоденоскопия)',
            'Фиброколоноскопия и Ректосигмоскопия',
            'Пониженная и повышенная кислотность желудка',
            'Диспепсические явления: как лечить?',
            'Рекомендации при язвенной болезни',
            'Дисбактериоз кишечника',
            'Диета при заболеваниях ЖКТ',
            'Синдром раздраженного кишечника',
          ]
        ) }}
        {{ patientsArticleList(
          'КАРДИОЛОГИЯ',
          [
            'Эхокардиография',
            'Заболевания сердечнососудистой системы',
            'Ишемическая болезнь сердца',
            'Неотложная помощь при инфаркте миокарда'
          ]
        ) }}
        {{ patientsArticleList(
          'ОТОРИНОЛАРИНГОЛОГИЯ',
          [
            'Хронический тонзиллит',
            'Криотерапия',
            'Лечение нейросенсорной тугоухости',
            'Хронический ринит',
            'Аденоиды у детей: как лечить?',
            'Все о храпе и его лечении',
            'Причины и способы устранения искривления перегородки носа',
          ]
        ) }}
        {{ patientsArticleList(
          'ПРОКТОЛОГИЯ',
          [
            'СОВРЕМЕННЫЕ методы лечения геморроя в клинике НАУКА',
            'Что такое, этот геморрой…',
            'Доктор.., а можно без операции..?!',
            'Боюсь визита к проктологу'
          ]
        ) }}
        {{ patientsArticleList('', ['Иглорефлексотерапия']) }}
        {{ patientsArticleList(
          'ТРАВМАТОЛОГИЯ И ОРТОПЕДИЯ',
          [
            'Лечение межпозвонковой грыжи',
            'Плазмотерапия в травматологии и ортопедии',
            'Виды травм кисти руки',
            'Ортезы',
            'Ударно-волновая терапия'
          ]
        ) }}
        {{ patientsArticleList(
          'ГИНЕКОЛОГИЯ И АКУШЕРСТВО',
          [
            'Медикаментозное прерывание беременности',
            'Что такое маммология.',
            'Отделение реабилитационного и восстановительного лечения',
            'Гинекологические услуги',
            'Искусственная инсеминация',
            'Сонография',
            'Лечение воспалительных заболеваний органов малого таза у женщин',
            'Самодиагностика молочных желез',
            'Бесплодие у мужчин и женщин. Современные методики лечения.',
            'Всё о контрацепции',
            'Гормональный фон в период менопаузы.',
            'Эрозия шейки матки. Часть 3'
          ]
        ) }}
        {{ patientsArticleList(
          'АЛЛЕРГОЛОГИЯ',
          [
            'Аллергические заболевания',
            'Аллергический ринит симптомы и лечение',
            'Аллергический дерматит симптомы и лечение',
            'Поллиноз - сезонное аллергическое заболевание',
            'Бронхиальная астма: рекомендации врача'
          ]
        ) }}
        {{ patientsArticleList(
          'ФИЗИОТЕРАПИЯ',
          [
            'Водолечение. Подводный душ-массаж',
            'Йодобромистые и сероводородные (сульфидные) ванны. Бальнеотерапия',
            'Пантовые ванны',
            'Аппарат «Ормед-кинезо» для активно-пассивной разработки позвоночника',
          ]
        ) }}
        {{ patientsArticleList(
          'НЕВРОЛОГИЯ',
          [
            'Все о вегето-сосудистой дистонии',
            'Патологии позвоночника: диагностика и лечение',
            'Головная боль: терпеть нельзя!',
            'Атеросклероз сосудов головного мозга'
          ]
        ) }}
        {{ patientsArticleList(
          'МАММОЛОГИЯ-ОНКОЛОГИЯ',
          [
            'Самодиагностика молочных желез',
            'Соноэластография щитовидной и молочных желез',
            'Мастопатия молочной железы',
          ]
        ) }}
        {{ patientsArticleList(
          'ТЕРАПИЯ',
          [
            'Бронхит: симптомы и лечение',
            'Острые респираторные бактериальные инфекции',
            'Всё о метеочувствительности',
            'Антибиотики: за и против',
          ]
        ) }}
        {{ patientsArticleList(
          'СТОМАТОЛОГИЯ',
          [
            'Протезирование - когда оно необходимо?',
            'Терапия в стоматологии',
            'Эстетическая стоматология'
          ]
        ) }}
        {{ patientsArticleList(
          'ЭНДОКРИНОЛОГИЯ',
          [
            'Эндокринные нарушения у мужчин',
            'Все о сахарном диабете',
            'Гипертиреоз: причины и лечени'
          ]
        ) }}
        {{ patientsArticleList(
          'ПЛАСТИЧЕСКАЯ ХИРУРГИЯ',
          [
            'Подготовка к пластической операции'
          ]
        ) }}
      </div>
    </div>
  </div>
</section>
{% endblock %}
